# Environnement
.env
.env.local
.env.production

# Dépendances
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Stockage local
storage/
